# Non-secret defaults (safe to commit)
CONFIG_PARTITION_TABLE_SINGLE_APP_LARGE=y
# CONFIG_PARTITION_TABLE_SINGLE_APP is not set
CONFIG_PARTITION_TABLE_FILENAME="partitions_singleapp_large.csv"

CONFIG_LV_BUILD_EXAMPLES=n
CONFIG_LV_BUILD_DEMOS=n

CONFIG_RIGO_WIFI_AP_SSID="rigo-box3"
CONFIG_RIGO_WIFI_AP_PASSWORD="rigoberto"
CONFIG_RIGO_WIFI_STA_SSID=""
CONFIG_RIGO_WIFI_STA_PASSWORD=""
